.footer {
    justify-content: center;
    background-color: #c2c2d6;
}

ul {
  list-style-type: none;
  text-align: center;
  background-color: #c2c2d6;
  display: block;
  position: absolute;
  bottom: 0px;
  margin-left: 45px;
}

.footly {
    background-color: #c2c2d6;
}

.footerCopyrights {
  color: var(--high-contrast);
  /* font-size: 0.6em; */
  background-color: #c2c2d6;
}

.version {
  font-size: 0.6em;
  background-color: #c2c2d6;
}