.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #404757;
  width: 400px;
  height: 300px;
  display: inline-block;
  margin: 20% 20% 0 40%;
  outline: 5px solid gray;
}

.Display {
  background-color: black;
  padding: 15px;
  box-sizing: border-box;
}

.Input {
  color: white;
  text-align: end;
  font-family: 'digital-7';
  font-size: 29px;
}

.Output {
  font-family: digital;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@font-face {
  font-family: 'digital-7';
  src: local('digital-7'), url(./fonts/digital-7.ttf) format('opentype');
}