.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #404757;
  width: 340px;
  height: 330px;
  display: inline-block;
  margin: 20% 20% 0 40%;
  outline: 5px solid gray;
}

.Display {
  background-color: black;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.Input {
  color: white;
  text-align: end;
  font-family: 'digital-7';
  font-size: 29px;
  margin-bottom: -15px;
  font-weight: lighter;
}

.Output {
  font-family: 'digital-7';
  font-size: 20px;
  color: orange;
  text-align: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-top: -5px;
  margin-bottom: -20px;
  display: block;
  height: 20px;
  font-weight: lighter;
}

.AC {
  background-color: #f44336;
  width: 146px;
  margin-left: 9px;
}

.Equals-button {
  background-color: #008CBA;
  width: 70px;
}

.Number-buttons-div {
  width: 350px;
}

.Number-button {
  width: 70px;
}

.Number-zero-button {
  width: 147px;
  margin-left: -77px;
}

@font-face {
  font-family: 'digital-7';
  src: local('digital-7'), url(./fonts/digital-7.ttf) format('opentype');
}